@font-face {
    font-family: 'bungeeregular';
    src: url('/static/fonts/bungee-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/bungee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'bungeeregular';
    font-weight: normal;
    font-style: normal;
    background-color: #ffcccc;
}

.header-fire{
    width : 40px;
    height: 40px;
    margin: 0px 8px 0px 8px;
} 

.info-box {
    text-align: center;
    margin: 0 auto;
    background-color: #ff9999;
    margin-bottom: 32px;
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
}

.info-box h1 {
    text-align: center;
    display:inline;
}

.songs-list{
    margin:0 auto;
    position: center;
    text-align: center;
    list-style-type: none;
    border: 1px solid black;
    border-radius:5px;
    width:30%;    
    background-color: #ff9999;
    padding-left: 0px;
}

.songs{
    margin:0 auto;
    border: 1px solid black;
    padding: 0.75em;
}

.song-link{
    font-family: 'bungeeregular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    display: inline-block;
    width:100%;
    text-decoration:none;
    color: #000000;
}
